<h1> Meaning in Memes </h1>

<ul> 
    <% @blogs.each do |blog| %>
        <li><%= link_to blog.title, blog_path(blog) %></li>  
    <% end %>
        <p><%= link_to 'Add a new Blog', new_blog_path %></p>


</ul>